.filter-container{
    height: 64px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-filter-box{
    height: 32px;
    width: 100%;
   
    display: flex;
    justify-content: space-around;
}
.select-items{
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(246, 246, 246);
    border: 2px solid rgb(203, 203, 203);
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-items:hover{
    background-color: rgb(229, 228, 228);
}
  .select-items.active {
    background-color: black;
    color: white;
  }